@import "tailwindcss";
@import "devicon/devicon.min.css";

/* For Theme switching transitions */
@property --background { syntax: '<color>'; inherits: true; initial-value: #FAF7F2; }
@property --surface    { syntax: '<color>'; inherits: true; initial-value: #F1ECE4; }
@property --primary    { syntax: '<color>'; inherits: true; initial-value: #004fde; }
@property --accent     { syntax: '<color>'; inherits: true; initial-value: #00a2f6; }
@property --text       { syntax: '<color>'; inherits: true; initial-value: #2f251e; }
@property --light      { syntax: '<color>'; inherits: true; initial-value: #fff7ed; }
@property --dark       { syntax: '<color>'; inherits: true; initial-value: #2a1f18; }
@property --shadow     { syntax: '<color>'; inherits: true; initial-value: #b7a288; }

:root {
  --background: #FAF7F2;
  --surface: #F1ECE4;
  --primary: #004fde;
  --accent: #00a2f6;
  --text: #2f251e;
  --light: #fff7ed;
  --dark: #2a1f18;
  --shadow: #b7a288;
}

.dark {
  --background: #0F172A;
  --surface: #182644;
  --primary: #e7edf7;
  --accent: #9dd9ff;
  --text: #e9eff6;
  --light: #f2f6ff;
  --dark: #0b111b;
  --shadow: #0a0f18;
}

@theme {
  --font-pattaya: var(--font-pattaya);

  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-text: var(--text);
  --color-light: var(--light);
  --color-dark: var(--dark);
  --color-shadow: var(--shadow);
}

html {
  scroll-behavior: smooth;
  transition:
    --background 200ms ease,
    --surface 200ms ease,
    --primary 200ms ease,
    --accent 200ms ease,
    --text 200ms ease,
    --light 200ms ease,
    --dark 200ms ease,
    --shadow 200ms ease;
}

.section {
  @apply container mx-auto pt-20 md:pt-24 px-4;
}

.nav-links > a {
  @apply hover:text-accent transition-all! border-b-2 border-transparent hover:border-accent w-1/2 md:w-auto text-center;
}

.nav-actions > * {
  @apply hover:bg-surface cursor-pointer p-1 px-2 rounded;
}

.hero-tech-list > i {
  @apply hover:text-8xl transition-all!;
}

.project-card-links > a {
  @apply p-1 px-2 rounded-lg text-white flex gap-1 items-center;
}

.experience-tooltip {
  --rt-color-dark: transparent !important;
}

.experience-tooltip .react-tooltip-arrow {
  --rt-arrow-size: 0px !important;
}


.text-neon-light {
  text-shadow: 0 0 2px var(--color-light), 0 0 6px var(--color-light), 0 0 12px var(--color-light), 0 0 24px var(--color-light);
}
