@import "tailwindcss";
@import "devicon/devicon.min.css";

@theme {
  --color-primary: #004fde;
  --color-secondary: #007cf8;
  --color-dark: #0a06a5;
  --color-accent: #00a2f6;
}

.section {
  @apply container mx-auto py-10;
}

.nav-links > a {
  @apply hover:text-gray-300;
}

.nav-actions > span {
  @apply hover:bg-primary cursor-pointer p-1 px-2 rounded;
}

.hero-tech-list > i {
  @apply hover:text-7xl transition-all duration-200;
}