@import "tailwindcss";
@import "devicon/devicon.min.css";

@import "react-tooltip/dist/react-tooltip.css";

@theme {
  --color-primary: #004fde;
  --color-secondary: #007cf8;
  --color-dark: #0a06a5;
  --color-accent: #00a2f6;
  --color-background: #000000;
}

@font-face {
  font-family: "Pattaya";
  src: local("Pattaya"), url(./fonts/Pattaya-Regular.ttf) format("truetype");
}

html {
  scroll-behavior: smooth;
}

.section {
  @apply container mx-auto py-12 px-4;
}

.nav-links > a {
  @apply hover:text-gray-300 transition-all duration-200 border-b-2 border-transparent hover:border-gray-300 w-1/2 md:w-auto text-center;
}

.nav-actions > span {
  @apply hover:bg-primary cursor-pointer p-1 px-2 rounded;
}

.hero-tech-list > i {
  @apply hover:text-8xl transition-all duration-200;
}

.project-card-links > a {
  @apply p-1 px-2 rounded-lg text-white flex gap-1 items-center;
}

.experience-tooltip {
  --rt-color-dark: transparent !important;
}

.experience-tooltip .react-tooltip-arrow {
  --rt-arrow-size: 0px !important;
}